---
import MainLayout from "@/layouts/MainLayout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { sanityClient, getProfile } from "@/lib/sanity";
import type { DevProject, Experience, Education } from "@/lib/sanity.ts";
import { ContactForm } from "@/components/ContactForm";
import { ExperienceSection } from "@/components/ExperienceSection";
import { EducationSection } from "@/components/EducationSection";
import { HeroSection } from "@/components/HeroSection";

const query = `*[_type == "devProject"] | order(_createdAt desc) {
  title,
  subtitle,
  slug,
  summary,
  techStack,
}`;

const projects = await sanityClient.fetch<DevProject[]>(query);
const expQuery = `*[_type == "experience"] | order(startDate desc)`;
const experiences = await sanityClient.fetch<Experience[]>(expQuery);
const educationQuery = `*[_type == "education"] | order(startDate desc)`;
const educationList = await sanityClient.fetch<Education[]>(educationQuery);

const profile = await getProfile();
---

<MainLayout
  title={`${profile?.fullName} | Software Engineer`}
  description={profile?.shortBio}
>
  {profile && <HeroSection client:load profile={profile} />}
  <section id="experience" class="max-w-6xl mx-auto px-6 py-10">
    <ExperienceSection client:load experiences={experiences} />
  </section>

  <section id="education" class="max-w-6xl mx-auto px-6 py-10">
    <EducationSection client:load educationList={educationList} />
  </section>

  <section
    id="projects"
    class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto px-6 py-10"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </section>

  <section id="contact" class="max-w-6xl mx-auto px-6 py-10">
    <h2 class="text-3xl font-bold text-zinc-900 mb-6 dark:text-white">
      Contact Me
    </h2>
    <p class="text-lg text-zinc-600 dark:text-zinc-400 mb-8">
      Get in touch with me to discuss your next project or collaboration.
    </p>
    <ContactForm client:load />
  </section>
</MainLayout>
